dash
dash-core-components
dash-html-components
dash-table
dnspython
Flask 
Flask-Compress
Flask-Cors 
importlib-metadata
Jinja2 
numpy 
pandas 
plotly
pymongo
requests 
urllib3 
zipp
configparser
gunicorn